body{
    font-family: "Segoe UI";
    color: #1a1a1a;
}
p{
    font-family: "Segoe UI";
    line-height: 23px;
}

/* Article main section */


.news-head{
    text-align: center;
}
.news-content{
    padding: 5%;
}
.articleimg{
  width: 60%;
  height: 35%;
}
.authordetails{
  float: right;
  font-size: 14px;
}

/*Related posts section*/
.similar-posts{
  padding: 5%;
}

/* Posting content */

.post-content{
  text-align: center;
}
input[type=text]:focus {
  background-color: #e7e7de;
}
textarea{
  max-width:95%;
  overflow-y: scroll;
  height: 400px;
  resize: none;
  font-size: 18px;
}
textarea:focus{
  background-color: #e7e7de;
}
input[type=text]{
  width: 68%;
  height: 30px;
  font-size: 18px;
}
.content{
  left:5%;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #1a1a1a;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #3f494f;
  text-decoration: none;
}

select {
  appearance: none;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  background-color: #e7e7de;
}